<header>
  <nav>
    <a href="/">Inicio</a> |
    <a href="/registro">Registro de Voluntarios</a> |
    <a href="/listado">Voluntarios</a> |
    <a href="/solicitud">Solicitar asesoria</a>
  </nav>
</header>