<!DOCTYPE html>
<html lang="es">
<head>
  <title>Voluntariado FIDIA</title>
  <%- include('partials/head'); %>
</head>
<body>
  <div class="container-center">
    <h1>Bienvenido al pencal - FIDIA</h1>
    <div class="center">
      <!-- Botón para registrarse como voluntario -->
      <button onclick="window.location.href='registro'">Registrarse como Voluntario</button>
      <!-- Botón para consultar voluntarios registrados -->
      <button onclick="window.location.href='listado'">Consultar Voluntarios</button>
      <!-- Botón para solicitar programación -->
      <button onclick="window.location.href='solicitud'">Solicitar Programación</button>
    </div>
  </div>
  <%- include('partials/footer'); %>
</body>
</html>